* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input, button, submit {
    border: none;
}

body {
    overflow-x: hidden;
    
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;

    img {
        border: none;
    }

    body .wrap {
        max-width: 1506px;
        margin: 0 auto;
    }

    a, a:hover, a:link, a:visited, a:focus, a:active {
        text-decoration: none;
    }

    a:hover {
        color: inherit;
    }

    ul {
        list-style-type: none;
    }

    h1 {
        font-family: 'Fjalla One';
        font-size: 30px;
    }

    h2 {
        font-family: 'Fjalla One';
        font-size: 30px;
        line-height: 37px;

        @media screen and (min-width: 960px) {
            font-family: 'Fjalla One';
            font-size: 34px;
            line-height: 44px;
        }
    }
}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}

h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #8E8E8E;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #4F4F4F;
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    line-height: 22px;
}

p {
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Barlow Semi Condensed';
    font-size: 18px;
    line-height: 24px;
    color: $primary;
    font-weight: 600;
}

footer a:hover {
    color:$primary;
}

a:hover, a:link, a:visited, a:focus, a:active {
    -webkit-transition: color 0.50s;
    -o-transition: color 0.50s;
    transition: color 0.50s;
    color: none;
}

input[type=checkbox] {
    margin-right: 10px;
}

select, input {
    font-family: 'Barlow Semi Condensed';
    font-size: 16px !important;
    line-height: 22px !important;
    text-align: left !important;
    border-radius: 4px !important;
    padding: 10px 0 10px 8px !important;
    height: auto !important;
}

select::-webkit-input-placeholder {
    color: #8E8E8E;
}

select::-moz-placeholder {
    color: #8E8E8E;
}

select:-ms-input-placeholder {
    color: #8E8E8E;
}

select::-ms-input-placeholder {
    color: #8E8E8E;
}

select::placeholder {
    color: #8E8E8E;
}

.container-kf {
    padding: 20px 25px;
    margin-bottom: 30px;

    @media screen and (min-width: 960px) {
        padding: 30px 50px;
    }
}

.container-fluid {
    background-color: #1A1A1A;
    margin: 0;
    padding: 20px 25px;

    @media screen and (min-width: 960px) {
        padding: 30px 50px;
    }

    footer {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }


    footer a {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: #DDDDDD;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    footer a:hover {
        color: #DDDDDD;
    }

    footer h5 {
        color: $primary;
    }

    footer .social-list {
        list-style-type: none;
        position: relative;
    }

    .social-list,
    .first-list,
    .second-list {
        text-align: center;

        @media screen and (min-width: 992px) {
            text-align: left;
        }
    }

    footer form .form-control {
        text-align: center;
        height: 40px !important;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        display: inline-block !important;
        width: 80% !important;
    }

    #newsletter-subscribe {
        float: right;
        border: none;
        background-color: $primary;;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logofooter img {
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
        footer .social-list {
            list-style-type: none;
        }

        .logofooter {
            text-align: center;
        }
    }

    #newsletter-subscription {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media screen and (min-width: 992px) {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        button {
            width: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}